.vs/MarsRoverSolution/v16/.suo
.vs/MarsRoverSolution/v16/TestStore/0/000.testlog
.vs/MarsRoverSolution/v16/TestStore/0/testlog.manifest
packages/
TestResults/
MarsRover/obj
MarsRoverUnitTest/bin
MarsRoverUnitTest/obj

